<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="root">
    姓：<input type="text" v-model="first_name">
    </br>
    名：<input type="text" v-model="family_name">
    </br>
    姓名：<span>{{fullName}}</span>
</div>
<!--如果计算属性确定没有修改的必要，那么可以使用简写形式-->

<script type="text/javascript">
    Vue.config.productionTip = false
    const  vm = new Vue({
        el:'#root',
        data:{
            first_name:'张',
            family_name:'三',
        },
        computed:{
            //简写形式,这里虽然有function，但是fullName本质还是个值，不需要调用（）,这里的function只是修饰返回值
            fullName:function () {
                return this.first_name + "-" + this.family_name;
            }
        }
    })
</script>
</body>
</html>